@import 'bootstrap/scss/bootstrap';

$sand_color: #F2EFEA;

header {
  background-color: $sand_color;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;background-color: $sand_color;
}

#vestalia-logo {
  height: 50px;
}